* {
  font-family: Inter;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.navigation {
  height: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: red;
  
}

.navigation__title {
  color: white;
}